!!! 5
%html{:lang=> "en"}
  %head
    %meta{:charset=>"utf-8"}
    %title sinatra bootstrap
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => ""}
    %link{:href => "#{settings.root_url}/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "#{settings.root_url}/css/style.css", :rel => "stylesheet"}
    %link{:href => "#{settings.root_url}/img/favicon.png", :rel => "shortcut icon"}

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{:class=>"brand", :href=>"#{settings.root_url}"}
            %img.logo{:src =>"#{settings.root_url}/img/strawberry_ice_cream.png"}
            Ice Scream LTD
    = yield

    %script{:type=>"text/javascript",:src=>"#{settings.root_url}/js/jquery-1.9.1.min.js"}
    %script{:type=>"text/javascript",:src=>"#{settings.root_url}/js/bootstrap.min.js"}
    %script{:type=>"text/javascript",:src=>"#{settings.root_url}/js/app.js"}
